/*Обнулення*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------------------------*/

body {
	font-family: "Raleway", sans-serif;
	color: #6c7279;
	-webkit-font-smoothing: antialiased;

	background-color: #fff;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header */
.header {
	width: 100%;
	height: 90px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	background-color: rgb(45, 49, 48);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 15px 0;
}

/* Navigation */
.menu__list {
	display: flex;
	width: 100%;
}

.menu li {
	position: relative;
}

.menu__link {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 50px;
	opacity: 0.75;
}

.menu__link:hover {
	opacity: 1;
	transition: opacity 0.1s linear;
	color: #2cc746;
}

.menu__link-active {
	color: #2cc746;
}

.sub-menu__list {
	display: none;
	position: absolute;
	left: 0;
	top: 10px;
	margin-right: 50px;
	width: 180px;
	padding: 10px 0px 0px 0px;
}

.menu__list li:hover .sub-menu__list {
	display: block;
}

.sub-menu__list li {
	background-color: rgb(74, 80, 78);
	padding: 10px;
}
.sub-menu__list > li:hover {
	background-color: rgb(21, 24, 23);
}
.sub-menu__list:hover .sub-menu__link {
	opacity: 1;
	transition: opacity 0.1s linear;
	color: #2cc746;
}
.sub-menu__link {
	color: #fff;
	font-size: 16px;
	opacity: 0.75;
}

.header__logo {
	height: 60px;
	border-radius: 14px;

	animation-name: rotate-logo;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes rotate-logo {
	0% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}

/* Fans forum */
.fans__inner {
	margin-top: 60px;
	padding: 60px 0;
}

.fans__title {
	text-align: center;
	font-size: 40px;
	color: #2cc746;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 50px;
	margin-top: 20px;
}

.fans__title:hover {
	transition: transform 0.2s linear;
	transform: translate(0px, 10px);
	cursor: pointer;
}

.fans__content {
	font-size: 20px;
	line-height: 1.6;
	margin: 10px 0;
	border-bottom: 2px solid rgba(74, 80, 78, 0.582);
	margin-bottom: 50px;
}

.fans__ident {
	display: flex;
	justify-content: space-between;

	margin: 20px 0 10px 0;
}

.fans__date {
	font-size: 16px;
	font-style: italic;
	font-weight: 700;
}

.fans__name {
	font-weight: 700;
}

/* Form */
.form {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.form__massage {
	border: 1px solid rgba(74, 80, 78, 0.582);
	border-radius: 10px;
	width: 800px;
	height: 200px;
	padding: 20px;
	font-size: 16px;
	font-weight: 500;
	color: #6c7279;

	min-height: 120px;
	resize: vertical;
}

.form__btn {
	font-size: 25px;
	background-color: #363838;
	border: none;
	color: #fffff0;
	border-radius: 21px;
	/* font-weight: 600; */
	/* padding: 6px 12px; */
	min-width: 160px;
	height: 40px;
}

.form__btn:hover {
	background-color: #2cc746;
	color: #363838;
	font-weight: 700;
	transition: color, background-color 0.1s linear;
}

/* Footer */

.footer__content {
	background-color: rgb(45, 49, 48);
}

/* Social */
.social {
	display: flex;
	justify-content: center;
	padding: 30px;
}

.social__item {
	margin: 0 35px;
	opacity: 0.3;
}

.social__item:hover {
	opacity: 1;
	transition: opacity 0.2s linear;
}

.social__icon {
	height: 40px;
	fill: #fff;
	width: 40px;
}

.social__icon:hover {
	fill: #2cc746;
	opacity: 1;
	transition: fill 0.1s linear;

	transition: transform 0.2s linear;
	transform: translate(0px, -5px);
}
